<section>
	<header>
		<h2>更新</h2>
	</header>

	<div v-if="isCheckingForInstalledVersion" class="inner">
		获取已安装版本...
	</div>

	<div v-else-if="! installedVersionString" class="inner">
		在获取已安装版本时出现错误。
	</div>

	<div v-else class="inner">
		<div>
			已安装版本:
			{{ installedVersionString }}
			<br>
			最新版本:
			{{ latestVersionString || '未知，请检查更新。' }}
		</div>

		<button @click.prevent="checkForUpdates()" :disabled="isCheckingForUpdates" class="check-for-updates">
			检查更新
		</button>

		<div v-if="isCheckingForUpdates">
			正在检查更新...
		</div>

		<template v-else-if="latestVersionString">
			<div v-if="isInstalledVersionOutdated && latestVersionReleaseUrl">
				您安装的版本已过时.
				<a :href="latestVersionReleaseUrl" target="_blank">请更新到最新版本。</a>
			</div>

			<div v-else>
				版本已最新。
			</div>
		</template>

		<div v-else-if="errorOccuredWhileCheckingForUpdates">
			检查更新时出错。
			请重试。
		</div>
	</div>
</section>
